h1 {
    font-family:Arial black;

}
p {
    font-family:Arial;

}
h2 {
    font-family:Arial black;

}
h3 {
    font-family:Arial black;

}
h4 {
    font-family:Arial black;

}
h5 {
    font-family:Arial black;

}
h6 {
    font-family:Arial black;

}
h7 {
    font-family:Arial black;

}
h8 {
    font-family:Arial black;

}
h9 {
    font-family:Arial black;

}
h10 {
    font-family:Arial black;

}
a {
    font-family: Arial;
    background-color:dark green ;
    border-radius: 50;
}